ion-content.clc-search-background {
    --background: url('../../../assets/img/search/search-background.jpg') 0 0/100% 100% no-repeat;
}

ion-list {
    padding: 8px 16px 8px 0;

    .unread-chat-room {
        font-weight: 700;
    }
}
