<ion-content class="clc-search-background" fullscreen="true" padding>
        <ion-grid>
            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center padding class="clc-search-title">
                        MESSAGES
                    </div>

                    <div *ngFor="let message of messageList; let i = index" class="message-list" [ngClass]="{'unread-chat-room':message.unread}">
                        <div (click)="enterChatRoom(message, i)">{{  message.user }}</div>
                    </div>
<!--                    <ion-list *ngIf="responseReady">-->
<!--                        <ion-item *ngFor="let message of messageList; let i = index" class="message-list">-->
<!--                            <ion-label (click)="enterChatRoom(message, i)" [ngClass]="{'unread-chat-room':message.unread}">{{  message.user }}</ion-label>-->
<!--                        </ion-item>-->
<!--                    </ion-list>-->

                </ion-col>
            </ion-row>
        </ion-grid>
</ion-content>
