<ion-content padding>
    <div class="clc-search-overlay">
        <div text-center class="clc-logo-header">
            <img src="/assets/img/auth/CLC_Long_White_Drkbg.png" alt="">
        </div>
        <form #form="ngForm"
              (ngSubmit)="onSubmit(form)">
            <ion-grid>
                <ion-row justify-content-center>
                    <ion-col
                            align-self-center
                            size-md="6"
                            size-lg="5"
                            size-xs="12" margin-top="50">
                        <ion-item class="input-field-item">
                            <ion-label class="input-field-label" position="floating">your@email.com</ion-label>
                            <ion-input type="email" name="email" required ngModel></ion-input>
                        </ion-item>
                        <div padding text-center>
                            <ion-button
                                    size="large"
                                    type="submit"
                                    shape="round"
                                    class="clc-search-start-button"
                                    [disabled]="form.invalid">
                                Send Mail
                            </ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
        <div padding text-center>
            <ion-button
                    size="large"
                    type="text"
                    shape="round"
                    class="clc-search-start-button"
                    (click)="dismissModal()">
                Cancel
            </ion-button>
        </div>

    </div>
</ion-content>
