ion-item {
  --background: transparent;
  --color: #fff;
}
ion-content {
  --background: url('../../../../assets/img/auth/background2.jpg') 0 0/ auto 100% no-repeat;
}

.clc-logo-header {
  width: 100%;
  margin-bottom: 25vh;

  img {
    width: 100%;
    height: auto;
  }
}
