# Created by .ignore support plugin (hsz.mobi)
/demo_api/vendor
/demo_api/.env
/demo_api/storage/*.key
demo_api/package-lock.json
demo_api/composer.lock
/demo_api/composer.lock
.idea
demo_api/chat-server/node_modules
