@import "../../../../theme/variables";

.scroll-content {
    overflow: hidden;
}

.form-gathering {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;
}

.clc-host-gathering-background {
    --background: url('../../../../assets/img/search/view-gathering-background.jpg') 50% 100%/150% 120% no-repeat;


    .clc-search-title {
        text-transform: uppercase;
        color: white;
    }


    .ion-back-button-gathering {
        background: transparent;
        padding: 10px 0 0;
        color: white;
        position: absolute;
        z-index: 1;
    }

    .form-gathering {

        background: transparent;
        border: none;

        .ion-grid-gathering {
            padding: 0;

            .ion-col-gathering {
                padding: 0;
            }

            .ion-col-gathering:first-child {
                padding-right: 10px;
                width: calc(100% - 10px);
            }
        }


        .ion-item-gathering {
            padding: 0;
            background: transparent;
            --background: rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            margin: 0 0 10px;
            --padding-bottom: 0;
            color: white;

            .ion-label-gathering {
                font-size: 120%;
            }

            &.street {
            }

            &.street-no {
                display: inline-flex;
            }
        }

        .ion-button-gathering {
            text-transform: uppercase;
            background: transparent;
            --background: #22e2b9;
            color: white;
            width: 100%;
            --padding-top: 20px;
            --padding-bottom: 20px;
            font-size: 120%;
        }
    }
}


.ion-back-button-gathering {
    background: transparent;
    padding: 10px 0 0;
    color: white;
    position: absolute;
    z-index: 1;
}