@import "../../../../theme/variables";

.scroll-content {
    overflow: hidden;
}

.ion-list-gathering {
    overflow-y: auto;
    max-height: 75vh;
    border-radius: 10px;
}

.clc-find-gathering-background {
    --background: url('../../../../assets/img/gatherings/find-gathering-background.jpg') 50% 50% / auto 100% no-repeat;

    .clc-search-title {
        text-transform: uppercase;
        color: white;
    }

    .gatherings-search-field {
        border-radius: 20px !important;

        div {
            height: 42px !important;
        }
    }

    .list {
        padding: 0;
        margin: 0;
        border: 0;
        outline: 0;
        height: 100%;

        .ion-item-gathering {
            border: none !important;
            --inner-padding-end: 0;
            --padding-start: 0;

            .item {
                width: 100%;
                border: 0;
                padding-bottom: 10px;

                div {
                    width: 100%;
                }

                .ion-label-gathering {
                    padding: 0 20px;
                    font-size: 95% !important;
                    color: #BFC0C2;

                    &:last-child {
                        padding-bottom: 20px;
                    }
                }

                .item-subheader {
                    padding: 20px 20px 8px;
                    font-size: 120% !important;
                    font-weight: 200;
                    color: #000;
                }

                .item-sublast {
                    padding-bottom: 10px !important;
                    padding-top: 5px !important;

                    div {
                        display: inline-block;
                        line-height: 15px;
                        vertical-align: top;
                    }
                }


                .ion-list-header-gathering {
                    font-size: 140%;
                    font-weight: bold;
                    padding: 10px 20px;
                    background-color: #F5F5F5;
                    color: $clc-secondary-alt-color;

                    .ion-icon-gathering {
                        margin-right: 10px;
                    }

                    .ios-time-outline {
                        font-size: 22px;
                        height: 35px;

                    }

                    .ion-gathering-date-short {
                        font-size: 50%;
                    }
                }

                .ion-gathering-location {
                    color: var(--ion-color-medium-tint);

                    .ion-icon-gathering-location {
                        padding-left: 15px;
                        vertical-align: text-bottom;
                    }
                }
            }
        }
    }
}


.ion-back-button-gathering {
    background: transparent;
    padding: 10px 0 0;
    color: white;
    position: absolute;
    z-index: 1;
}

.ion-grid-gathering {
    margin-top: 40px;
}
