@import "../../../theme/variables";

$button-md-round-padding: 15px;

.clc-search-background {
    --background: url('../../../assets/img/gatherings/gathering-background.jpg') 50% 80%/270% 120% no-repeat;


    .clc-search-title {
        text-transform: uppercase;
    }

    .clc-search-description {
        font-size: 100%;
        padding-top: 0;
    }

    .ion-grid-gatherings {
        .ion-row-gatherings:first-child {
            padding-bottom: 10%;
            height: 40%;
        }

        .ion-row-gatherings:nth-child(2) {
            height: 60%;
            .ion-button-gatherings {
                &:first-child {
                    margin-bottom: 25%;
                }

                --padding-top: 27px;
                --padding-bottom: 25px;
            }
        }
    }

    .ion-button-gatherings {
        text-transform: uppercase;
        background: transparent;
        --background: #22e2b9;
        color: white;
        width: 100%;
        --padding-top: 20px;
        --padding-bottom: 20px;
        font-size: 120%;
    }
}

