<ion-content class="clc-register-background" fullscreen="true" padding>
        <form #form="ngForm" (ngSubmit)="register(form)">
            <ion-grid>
                <ion-row color="primary" justify-content-center>
                    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                        <div text-center class="clc-logo-header">
                            <img src="/assets/img/auth/CLC_Long_White_Drkbg.png" alt="">
                        </div>
                        <div padding>
                            <ion-item class="input-field-item">
                                <ion-label class="input-field-label" position="floating">Name</ion-label>
                                <ion-input name="name" type="text" ngModel
                                           required></ion-input>
                            </ion-item>
                            <ion-item class="input-field-item">
                                <ion-label class="input-field-label" position="floating">your@email.com</ion-label>
                                <ion-input name="email" type="email" ngModel
                                           required></ion-input>
                            </ion-item>
                            <ion-item class="input-field-item">
                                <ion-label>Mentor</ion-label>
                                <ion-toggle [(ngModel)]="toggleStatus" checked="false" color="primary" [ngModelOptions]="{standalone: true}"></ion-toggle>
                            </ion-item>
                            <ion-item class="input-field-item">
                                <ion-label class="input-field-label" position="floating">Password</ion-label>
                                <ion-input name="password" type="password" ngModel
                                           required></ion-input>
                            </ion-item>
                            <ion-item class="input-field-item">
                                <ion-label class="input-field-label" position="floating">Password again</ion-label>
                                <ion-input name="confirm" type="password" ngModel
                                           required></ion-input>
                            </ion-item>
                        </div>
                        <div padding>
                            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Register
                            </ion-button>
                        </div>
                        <div padding text-center>
                            <a routerLink='/login' class="clc-login-button">
                                LOGIN</a>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
</ion-content>
