<ion-content class="clc-search-background" fullscreen="true" padding>
        <ion-grid class="clc-search-overlay">
            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center padding class="clc-search-title">
                        FIND CONNECTIONS
                    </div>
                    <div text-center padding>
                        <p>Welcome to Clean Connections!</p>

                    </div>
                    <div text-center padding>
                        Would you like to find a mentor or a peer?
                    </div>
                    <ion-segment [(ngModel)]="likeToMeet" class="clc-segment-button">
                        <ion-segment-button value="friend">
                            A Friend
                        </ion-segment-button>
                        <ion-segment-button value="mentor">
                            A Mentor
                        </ion-segment-button>
                    </ion-segment>
                    <div padding text-center>
                        <ion-button size="large" shape="round" class="clc-search-start-button"
                                    routerLink="/home/find-connection/{{likeToMeet}}">
                            START
                        </ion-button>
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>

</ion-content>
