<ion-content padding>
    <div class="clc-search-overlay">
        <ion-slides #slidesByCategory>
            <ion-slide>
                <ion-content>
                    <app-personal-details-slide></app-personal-details-slide>
                </ion-content>
            </ion-slide>
            <ion-slide *ngFor="let category of categories;">
                <ion-slides #slides>
                    <ion-slide *ngFor="let question of category.questions; let i = index;">

                        <h3>{{question}}</h3>

                        <ion-list no-lines radio-group>

                            <ion-item *ngFor="let answer of answers; let y = index;">

                                <ion-label>{{y + 1}}. {{answer.answer}}</ion-label>
                                <ion-radio (click)="selectAnswer(answer.value, i)" [disabled]="hasAnswered"></ion-radio>

                            </ion-item>

                        </ion-list>

                    </ion-slide>
                </ion-slides>
            </ion-slide>
            <ion-slide>
                <h2>Finito</h2>
                <button (click)="finishSurvey()" ion-button full color="primary">Finish</button>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
