<ion-content padding>
    <div class="clc-search-overlay">
        <ion-slides #slides>
            <ion-slide *ngFor="let question of questions; let i = index;">
                <ion-grid>
                    <ion-row color="primary" justify-content-center>
                        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                            <div padding>
                                <ion-item class="input-field-item">
                                    <h3>{{question.question}}</h3>
                                </ion-item>
                                <ion-list no-lines radio-group>

<!--                                    <ion-item-->
<!--                                            *ngFor="let key of objectKeys(parseToObject(question.options))">-->

<!--                                        <ion-label>{{key}}</ion-label>-->

<!--                                    </ion-item>-->

                                </ion-list>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-slide>
            <ion-slide>
                <h2>Finito</h2>
                <button (click)="finishSurvey()" ion-button full color="primary">Finish</button>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
