ion-slides {
  height: 100%;
}

ion-item, ion-list, ion-radio, .list-md {
  --background: transparent !important;
  --color: #fff;
  background: transparent !important;
}

ion-content {
  --background: navy;
}
