@import "../../../theme/variables";

ion-item {
  --background: transparent;
  --color: #fff;
}

ion-content ion-button {
  --background: #22e2b9;
}

a {
  color: #fff;
}

ion-content.clc-login-background {
  --background: url('../../../assets/img/auth/login_background.jpg') 0 0/ auto 100% no-repeat;
}

.clc-logo-header {
  width: 100%;
  margin-bottom: 15vh;

  img {
    width: 100%;
    height: auto;
  }
}

.clc-forgot-password {
  color: $clc-primary-color;
}

.clc-login-mail {
  border-bottom: 1px solid $clc-primary-color;
}

.clc-login-pass {
  border-bottom: 1px solid $clc-secondary-alt-color;
}

