@import "../../../../theme/variables";

.clc-find-gathering-background {
    --background: url('../../../../assets/img/gatherings/view-gathering-background.jpg') 50% 50% / auto 100% no-repeat;


    .clc-search-title {
        text-transform: uppercase;
        color: $clc-primary-color;
        font-weight: bold;
    }

    .clc-search-description {
        font-size: 120%;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        padding: 20px 10px;
        margin-bottom: 5px;
        color: #fff;
    }

    .clc-search-created {
        font-size: 90%;
        text-align: left !important;
        padding-top: 0;
        color: #fff;
    }

    .clc-search-time {
        color: $clc-primary-color;

        .ion-icon-gathering {
            font-size: 200%;
            vertical-align: bottom;
            padding-top: 30px;
        }

        div {
            display: inline-block;
            vertical-align: text-bottom;
            font-size: 200%;
            padding-left: 10px;
            font-weight: bold;
        }


        .ion-gathering-date-short {
            font-size: 100%;
            display: block;
            color: #fff;
        }
    }

    .ion-label-gathering {
        bottom: 0;
        position: fixed;
        padding-bottom: 10px;

        a {
            color: white;
        }

        .ion-icon-gathering {
            vertical-align: text-top;
        }
    }

    .ion-gathering-icon-location {
        vertical-align: bottom;
    }
}

.ion-back-button-gathering {
    background: transparent;
    padding: 10px 0 0;
    color: white;
    position: absolute;
    z-index: 1;
}
