<ion-content class="clc-search-background" fullscreen="true" padding>
    <div class="clc-search-overlay">
        <ion-grid>
            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="8" size-lg="8" size-xs="8">
                    <div text-left padding class="clc-search-title">
                        {{profile.name}}
                        <div class="profile-email">{{profile.email}}</div>
                        <div class="profile-created-at">Member since {{profile.created_at | date: 'MMM dd yyyy'}}</div>
                    </div>
                </ion-col>
                <ion-col align-self-center size-md="4" size-lg="4" size-xs="4">
                    <ion-icon name="chatboxes" class="profile-message-icon" (click)="onChatClick()"></ion-icon>
                </ion-col>
            </ion-row>

            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <ion-label class="profile-personal" position="floating">Information</ion-label>
                </ion-col>
            </ion-row>

            <ion-row color="primary" justify-content-center class="profile-row-border-bottom">
                <ion-col align-self-center size-md="2" size-lg="2" size-xs="2" class="profile-column-border-right">
                    <ion-label class="profile-label" position="floating">
                        Age
                        <div class="profile-label-value">{{profile.age}}</div>
                    </ion-label>

                </ion-col>
                <ion-col align-self-center size-md="10" size-lg="10" size-xs="10">
                    <ion-label class="profile-label" position="floating">
                        Education
                        <div class="profile-label-value">{{profile.education}}</div>
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row color="primary" justify-content-center class="profile-row-margin-bottom">
                <ion-col align-self-center size-md="4" size-lg="4" size-xs="4" class="profile-column-border-right">
                    <ion-label class="profile-label" position="floating">
                        Married
                        <div class="profile-label-value">{{profile.married ? 'Yes' : 'No'}}</div>
                    </ion-label>
                </ion-col>

                <ion-col align-self-center size-md="4" size-lg="4" size-xs="4" class="profile-column-border-right">
                    <ion-label class="profile-label" position="floating">
                        Children
                        <div class="profile-label-value">{{profile.children}}</div>
                    </ion-label>
                </ion-col>

                <ion-col align-self-center size-md="4" size-lg="4" size-xs="4">
                    <ion-label class="profile-label" position="floating">
                        Pet
                        <div class="profile-label-value">{{profile.pet}}</div>
                    </ion-label>
                </ion-col>
            </ion-row>

            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <ion-label class="profile-personal" position="floating">Personal</ion-label>
                </ion-col>
            </ion-row>
            <ion-row color="primary" justify-content-center class="profile-row-border-bottom">
                <ion-col align-self-center size-md="4" size-lg="4" size-xs="4" class="profile-column-border-right">
                    <ion-label class="profile-label" position="floating">
                        Religion
                        <div class="profile-label-value">{{profile.religion}}</div>
                    </ion-label>
                </ion-col>

                <ion-col align-self-center size-md="8" size-lg="8" size-xs="8">
                </ion-col>
            </ion-row>

            <ion-row color="primary" justify-content-center class="profile-row-margin-bottom">
                <ion-col align-self-center size-md="4" size-lg="4" size-xs="4" class="profile-column-border-right">
                    <ion-label class="profile-label" position="floating">
                        Gender
                        <div class="profile-label-value">{{profile.gender}}</div>
                    </ion-label>
                </ion-col>

                <ion-col align-self-center size-md="8" size-lg="8" size-xs="8">
                    <ion-label class="profile-label" position="floating">
                        Sex Orientation
                        <div class="profile-label-value">{{profile.sex_orientation}}</div>
                    </ion-label>
                </ion-col>
            </ion-row>

            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <ion-label class="profile-personal" position="floating">Condition</ion-label>
                </ion-col>
            </ion-row>
            <ion-row color="primary" justify-content-cente class="profile-row-border-bottom profile-row-margin-bottom">
                <ion-col align-self-center size-md="4" size-lg="4" size-xs="4" class="profile-column-border-right">
                    <ion-label class="profile-label" position="floating">
                        Smoker
                        <div class="profile-label-value">{{profile.smoker ? 'Yes' : 'No'}}</div>
                    </ion-label>
                </ion-col>

                <ion-col align-self-center size-md="8" size-lg="8" size-xs="8">
                    <ion-label class="profile-label" position="floating">
                        Last Relapse
                        <div class="profile-label-value">{{profile.last_relapse | date: 'MMM dd yyyy'}}</div>
                    </ion-label>
                </ion-col>
            </ion-row>

            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <ion-label class="profile-personal" position="floating">Address</ion-label>
                </ion-col>
            </ion-row>
            <ion-row color="primary" justify-content-center class="">
                <ion-col align-self-center size-md="4" size-lg="4" size-xs="4" class="profile-column-border-right">
                    <ion-label class="profile-label" position="floating">
                        State
                        <div class="profile-label-value">{{profile.state}}</div>
                    </ion-label>
                </ion-col>

                <ion-col align-self-center size-md="4" size-lg="4" size-xs="4" class="profile-column-border-right">
                    <ion-label class="profile-label" position="floating">
                        City
                        <div class="profile-label-value">{{profile.city}}</div>
                    </ion-label>
                </ion-col>

                <ion-col align-self-center size-md="4" size-lg="4" size-xs="4">
                    <ion-label class="profile-label" position="floating">
                        Zip Code
                        <div class="profile-label-value">{{profile.zip_code}}</div>
                    </ion-label>
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>

</ion-content>
